@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body{
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container{
    width:80%;
    margin: 0 auto;
}

header{
    background: rgba(224,255,251,255);
    
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    height: 50px;
    padding: 10px 0;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;

    position: relative;

}

nav a{
    color: rgb(100,116,116);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover{
    color: black;

}

nav a:before{
    content: '';
    display: block;
    height: 5px;
    
    background-color: black;

    position: absolute;
    top: 0;
    width: 0%;

}

nav a:hover::before{
    width: 100%;
    transition: all ease-in-out 250ms;
}


.wrapper {
    display: flex;
    position: fixed;
   
}

/*here we chanaged to make pos fixed and bottom = 0, height = 200 to make it fit the bottom*/
.wrapper .socialSidebar {
    position: fixed;
    bottom: 0;
    width: 100px;
    height: 220px;
    text-align: center;
}

.wrapper .socialSidebar .vertical {
    border-left: 2px solid black;
    height: 100px;
    width: 100px;
    margin-left: 60px; /*centers vertical line with icons*/
    
}



/*makes the icon glow when hovered over*/
.wrapper .socialSidebar ul li:hover a{
    color: black;
    /*background: blue;*/
    top: 50px;
    transform: scale(1.5); /*enlarges icon by 150% when hovered over
*/
}


/*makes the icon glow when hovered over*/
.wrapper .socialSidebar ul li:hover a .fa-envelope{
    color: rgb(219 68 55);
    top: 50px;
    transform: scale(1.5); /*enlarges icon by 150% when hovered over*/
}
.wrapper .socialSidebar ul li:hover a .fa-twitter{
    color: rgb(29, 155, 240);
    top: 50px;
    transform: scale(1.5);
}
.wrapper .socialSidebar ul li:hover a .fa-instagram{
    color: rgb(225, 48, 108);
    top: 50px;
    transform: scale(1.5);
}


/*sets color of the icon*/
.wrapper .socialSidebar a {
    display: block;
    width: 40px;
    height: 45px;
    font-size: 25px;
    line-height: 50px;
    color: black;
}




/* contact */
.form{
    
    width: 80vw;
    height: 50vh;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    box-sizing:border-box;
    position:relative;
    margin: 100px auto;
    padding:20px 30px;
    /* max-width:calc(100vw - 40px); */
}
.form h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:#78788c;
    border-bottom:3px solid #78788c
}
.form input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    transition:all .3s;
    border-bottom:2px solid #bebed2
}
.form input:focus{
    border-bottom:2px solid #78788c
}
.form p:before{
    content:attr(type);display:block;
    margin:28px 0 0;
    font-size:14px;
    color:#5a5a5a}
.form button{
    float:right;
    padding:8px 12px;
    margin:8px 0 0;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s
}
.form button:hover{
    background:#78788c;
    color:#fff
}
.form div{
    content:'Hi';
    position:absolute;
    bottom:-15px;
    right:-20px;
    background:rgba(224,255,251,255);
    color:black;
    width:320px;
    padding:16px 4px 16px 0;
    border-radius:6px;
    font-size:13px;
    box-shadow:10px 10px 40px -14px #000
}
.form span{
    margin:0 5px 0 15px
} 
.formExtra{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}