@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body{
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}


/*nav bar*/
.container{
    width:80%;
    margin: 0 auto;
}
header{
    background: rgba(224,255,251,255);
}
header::after{
    content: '';
    display: table;
    clear: both;
}
.logo{
    float: left;
    height: 50px;
    padding: 10px 0;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    position: relative;
}
nav a{
    color: rgb(100,116,116);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{
    color: black;
}
nav a:before{
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
}
nav a:hover::before{
    width: 100%;
    transition: all ease-in-out 250ms;
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(224,255,251,255);
    color: rgb(100,116,116);
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    color: black;
  }
  .dropbtn:before{
    content: '';
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    width: 0%;
}
.dropbtn:hover::before{
    width: 68%;
    transition: all ease-in-out 250ms;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}













/*main*/








/*social media bar*/
.wrapper {
    display: flex;
    position: fixed;
}
.wrapper .socialSidebar {
    position: fixed;
    bottom: 0;
    width: 100px;
    height: 220px;
    text-align: center;
}
.wrapper .socialSidebar .vertical {
    border-left: 2px solid black;
    height: 100px;
    width: 100px;
    margin-left: 60px; /*centers vertical line with icons*/ 
}
/*makes the icon glow when hovered over*/
.wrapper .socialSidebar ul li:hover a{
    color: black;
    top: 50px;
    transform: scale(1.5); /*enlarges icon by 150% when hovered over*/
}
.wrapper .socialSidebar ul li:hover a .fa-envelope{
    color: rgb(219 68 55);
    top: 50px;
    transform: scale(1.5); 
}
.wrapper .socialSidebar ul li:hover a .fa-twitter{
    color: rgb(29, 155, 240);
    top: 50px;
    transform: scale(1.5);
}
.wrapper .socialSidebar ul li:hover a .fa-instagram{
    color: rgb(225, 48, 108);
    top: 50px;
    transform: scale(1.5);
}
/*sets color of the icon*/
.wrapper .socialSidebar a {
    display: block;
    width: 40px;
    height: 45px;
    font-size: 25px;
    line-height: 50px;
    color: black;
}


/*hides social media wrapper on mobiles - screen too small*/
@media (max-width: 768px) {
    .wrapper {
      display: none;
    }
}